@import '../index.scss';

.collection {
  width: 100%;
  height: calc(100vh - $DashboardHeight - $SimilarCollegesScrollHeight);
  overflow-y: scroll;

  .collection-header {
    font-weight: 600;
  }

  li {
    display: flex;
    flex: 1;

    .col1 {
      flex: 1;
    }
    .col2 {
      flex: 2;
    }
    .col3 {
      flex: 3;
    }
  }
}