.SimilarCollegesHorList {
  // width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;

  .SimilarCollegesCard {
      margin: 5px;
      border-radius: 5px;
      // border: 1px solid lightgray;
  }
}