.SimilarCollegesWrapper {
  margin: 5px;

  h5 {
    padding: 10px 20px 0;
  }
}

.SimilarCollegesHorList {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;

  .SimilarCollegesCard {
      margin: 5px;
      border-radius: 5px;
  }
}

.no-similar {
  padding: 0px 40px 5px;
}